.carousel .carousel-item {
  height: 500px;
}
.carousel-item img {
  object-fit: cover;
  object-position: top !important;
  min-height: 500px;
  position: relative !important;
}

.carousel-control-next-icon {
  background-color: black;
  border-radius: 50%;
}
/* .carousel-control-next {
  color: black;
} */
.carousel-control-prev-icon {
  background-color: black;
  border-radius: 50%;
}
.card img {
  height: 300px !important;
}
