@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Cormorant:wght@300&family=Dosis:wght@200&family=Instrument+Serif&family=Italianno&family=Noto+Sans+Zanabazar+Square&family=Poppins:wght@200&family=Seaweed+Script&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Cormorant:wght@300&family=Dosis:wght@200&family=Instrument+Serif&family=Italianno&family=Montserrat:wght@200&family=Noto+Sans+Zanabazar+Square&family=Poppins:wght@200&family=Seaweed+Script&family=Space+Mono:wght@400;700&display=swap");
body {
  font-family: "poppins", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.one {
  background-color: rgb(249, 249, 249);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  margin-left: 0.05rem;
  font-family: "poppins", sans-serif;
  font-weight: 600;
}
section.one .container-fluid {
  padding-left: 3rem;
  padding-right: 3rem;
}
section.one .container-fluid button.navbar-toggler {
  background-color: whitesmoke !important;
}
section.one .container-fluid button {
  background-color: rgb(11, 41, 97) !important;
}
@media screen and (max-width: 767px) {
  section.one .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.one .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
section.one .navbar-brand {
  height: 50px;
  width: 130px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-left: 5rem;
  padding-top: 0.7rem;
}
section.one .navbar-brand a {
  position: relative;
  text-align: center;
  margin-top: -1rem;
}
section.one .navbar-brand img {
  margin-left: -4rem;
  position: absolute;
  height: 80%;
  width: 30%;
  margin-top: -0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
section.one .space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  section.one .space {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 999;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.one .space {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
section.one .space .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  width: 120vh;
  padding-left: 5rem;
}
@media screen and (max-width: 767px) {
  section.one .space .links {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 999;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.one .space .links {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 999;
    gap: 0.5rem;
  }
}
section.one .space .signs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3rem;
}
section.one .space .signs button {
  background-color: rgb(11, 41, 97) !important;
}
section.one .space .signs button:hover {
  background-color: rgb(0, 25, 72) !important;
}
section.one .space .signs div.supp a {
  text-decoration: none;
}
section.one .space .signs div.supp a i {
  font-size: 30px;
  color: rgb(11, 41, 97);
  -webkit-transition: 0.03ms;
  transition: 0.03ms;
}
@media screen and (max-width: 767px) {
  section.one .space .signs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 999;
    gap: 0;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.one .space .signs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 999;
    gap: 0;
  }
}
section.one .space a:hover {
  color: rgb(11, 41, 97);
}
section.one div.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.one div.links a {
  color: black;
}
section.one div.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.one div.dropdown a {
  color: black;
}
section.one div.dropdown a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
section.one div.dropdown .b:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
section.one div.dropdown .a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
section.one div.dropdown .modal-body {
  width: 100% !important;
  background-color: whitesmoke;
}
section.one div.dropdown .modal-body .cash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
}
section.one div.dropdown .modal-body .allcur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.one div.dropdown .modal-body p.hov:hover {
  color: rgb(11, 41, 97);
}
section.one div.dropdown .abut {
  width: 30px !important;
}
section.one div.dropdown .dropdown-menu {
  min-width: 100% !important;
  position: absolute;
  z-index: 999;
}
section.one div.dropdown .dropdown-menu li a {
  color: #000;
}
section.one div.dropdown .dropdown-menu li a:hover {
  background-color: rgb(11, 41, 97);
  color: white;
}
section.one div.dropdown a {
  text-decoration: none;
  color: black;
}
section.one div.dropdown a img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.sign {
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
  height: 87vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
}
@media screen and (max-width: 767px) {
  section.sign {
    height: auto;
    padding-bottom: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.sign {
    height: auto;
    padding-bottom: 2rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
section.sign div.register {
  width: 50%;
  height: 67vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 767px) {
  section.sign div.register {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.sign div.register {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
section.sign div.register div.into h3 {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
section.sign div.register form {
  background-color: rgba(213, 213, 213, 0.256);
  height: 67vh;
  width: 100%;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
}
@media screen and (max-width: 767px) {
  section.sign div.register form {
    height: auto;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.sign div.register form {
    height: auto;
  }
}
section.sign div.register form button {
  background-color: rgb(11, 41, 97) !important;
}
section.sign div.register form button:hover {
  background-color: rgb(0, 25, 72) !important;
}
section.sign div.register form .form-group {
  padding-bottom: 10px;
}
section.sign div.register form .form-group div.ic i {
  background-color: gold;
  position: relative;
  margin-left: 90%;
  margin-top: -20%;
}
section.sign div.register form .radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 0.5rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  word-spacing: 3px;
  padding-top: 1rem;
}
section.sign div.register form .home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: black;
}
section.sign div.login {
  width: 50%;
  height: 95vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
@media screen and (max-width: 767px) {
  section.sign div.login {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.sign div.login {
    width: 100%;
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
section.sign div.login .lin {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
section.sign div.login .lin a {
  text-decoration: none;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 1rem;
}
section.sign div.login div.soc {
  width: 100%;
  height: 67vh;
  padding-bottom: 4rem;
  color: whitesmoke;
  gap: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
  background-color: rgba(213, 213, 213, 0.256);
}
@media screen and (max-width: 767px) {
  section.sign div.login div.soc {
    height: auto;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.sign div.login div.soc {
    height: auto;
  }
}
section.sign div.login div.soc div.face {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 255, 0.635);
  gap: 9rem;
}
@media screen and (max-width: 767px) {
  section.sign div.login div.soc div.face {
    gap: 2rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.sign div.login div.soc div.face {
    gap: 13rem;
  }
}
section.sign div.login div.soc div.face:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
section.sign div.login div.soc div.face i {
  background-color: blue;
  font-size: 2.5rem;
  padding: 0.5rem;
}
section.sign div.login div.soc div.face p {
  padding-top: 0.7rem;
}
section.sign div.login div.soc div.twit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 119, 255, 0.66);
  gap: 9rem;
}
@media screen and (max-width: 767px) {
  section.sign div.login div.soc div.twit {
    gap: 2rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.sign div.login div.soc div.twit {
    gap: 13rem;
  }
}
section.sign div.login div.soc div.twit:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
section.sign div.login div.soc div.twit i {
  background-color: rgb(0, 119, 255);
  font-size: 2.5rem;
  padding: 0.5rem;
}
section.sign div.login div.soc div.twit p {
  padding-top: 0.7rem;
}
section.sign div.login div.soc div.insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(220, 20, 60, 0.578);
  gap: 9rem;
}
@media screen and (max-width: 767px) {
  section.sign div.login div.soc div.insta {
    gap: 2rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.sign div.login div.soc div.insta {
    gap: 13rem;
  }
}
section.sign div.login div.soc div.insta:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
section.sign div.login div.soc div.insta i {
  background-color: crimson;
  font-size: 2.5rem;
  padding: 0.5rem;
}
section.sign div.login div.soc div.insta p {
  padding-top: 0.7rem;
}
section.sign div.login div.soc div.goog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(20, 140, 220, 0.737);
  gap: 9rem;
}
@media screen and (max-width: 767px) {
  section.sign div.login div.soc div.goog {
    gap: 2rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.sign div.login div.soc div.goog {
    gap: 13rem;
  }
}
section.sign div.login div.soc div.goog:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
section.sign div.login div.soc div.goog i {
  background-color: rgba(20, 63, 220, 0.607);
  font-size: 2.5rem;
  padding: 0.5rem;
}
section.sign div.login div.soc div.goog p {
  padding-top: 0.7rem;
}

div.term {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
div.term a {
  text-decoration: none;
}
div.term div.conc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
}