@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Cormorant:wght@300&family=Dosis:wght@200&family=Instrument+Serif&family=Italianno&family=Noto+Sans+Zanabazar+Square&family=Poppins:wght@200&family=Seaweed+Script&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Cormorant:wght@300&family=Dosis:wght@200&family=Instrument+Serif&family=Italianno&family=Montserrat:wght@200&family=Noto+Sans+Zanabazar+Square&family=Poppins:wght@200&family=Seaweed+Script&family=Space+Mono:wght@400;700&display=swap");
body {
  font-family: "poppins", sans-serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.one {
  background-color: rgb(249, 249, 249);
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 9999;
  margin-left: 0.05rem;
  font-family: "poppins", sans-serif;
  font-weight: 600;
}
section.one .container-fluid {
  padding-left: 3rem;
  padding-right: 3rem;
}
section.one .container-fluid button.navbar-toggler {
  background-color: whitesmoke !important;
}
section.one .container-fluid button {
  background-color: rgb(11, 41, 97) !important;
}
@media screen and (max-width: 767px) {
  section.one .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.one .container-fluid {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
section.one .navbar-brand {
  height: 50px;
  width: 130px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-left: 5rem;
  padding-top: 0.7rem;
}
section.one .navbar-brand a {
  position: relative;
  text-align: center;
  margin-top: -1rem;
}
section.one .navbar-brand img {
  margin-left: -4rem;
  position: absolute;
  height: 80%;
  width: 30%;
  margin-top: -0.5rem;
  -o-object-fit: cover;
     object-fit: cover;
}
section.one .space {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 767px) {
  section.one .space {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 999;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.one .space {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
section.one .space .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  width: 120vh;
  padding-left: 5rem;
}
@media screen and (max-width: 767px) {
  section.one .space .links {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 999;
    gap: 0.5rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.one .space .links {
    padding-left: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 999;
    gap: 0.5rem;
  }
}
section.one .space .signs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3rem;
}
section.one .space .signs button {
  background-color: rgb(11, 41, 97) !important;
}
section.one .space .signs button:hover {
  background-color: rgb(0, 25, 72) !important;
}
section.one .space .signs div.supp a {
  text-decoration: none;
}
section.one .space .signs div.supp a i {
  font-size: 30px;
  color: rgb(11, 41, 97);
  -webkit-transition: 0.03ms;
  transition: 0.03ms;
}
@media screen and (max-width: 767px) {
  section.one .space .signs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 999;
    gap: 0;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.one .space .signs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    z-index: 999;
    gap: 0;
  }
}
section.one .space a:hover {
  color: rgb(11, 41, 97);
}
section.one div.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.one div.links a {
  color: black;
}
section.one div.dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.one div.dropdown a {
  color: black;
}
section.one div.dropdown a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
section.one div.dropdown .b:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
section.one div.dropdown .a:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
section.one div.dropdown .modal-body {
  width: 100% !important;
  background-color: whitesmoke;
}
section.one div.dropdown .modal-body .cash {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
}
section.one div.dropdown .modal-body .allcur {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.one div.dropdown .modal-body p.hov:hover {
  color: rgb(11, 41, 97);
}
section.one div.dropdown .abut {
  width: 30px !important;
}
section.one div.dropdown .dropdown-menu {
  min-width: 100% !important;
  position: absolute;
  z-index: 999;
}
section.one div.dropdown .dropdown-menu li a {
  color: #000;
}
section.one div.dropdown .dropdown-menu li a:hover {
  background-color: rgb(11, 41, 97);
  color: white;
}
section.one div.dropdown a {
  text-decoration: none;
  color: black;
}
section.one div.dropdown a img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
}

section.help {
  padding-left: 10rem;
  padding-right: 10rem;
  padding-top: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-bottom: 3rem;
  background-color: rgba(243, 243, 243, 0.566);
}
@media screen and (max-width: 767px) {
  section.help {
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media screen and (max-width: 1024px) and (min-width: 768px) {
  section.help {
    height: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
section.help div.elp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
section.help div.elp div.center {
  width: 100%;
  height: 7vh;
  background-color: white;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  padding-top: 0.8rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 2px 2px 2px gray;
          box-shadow: 2px 2px 2px gray;
  border-radius: 6px;
}
section.help div.elp div.center p {
  font-weight: 600;
  font-size: 25px;
}
section.help div.elp div.wel {
  background-color: white;
  padding: 1rem;
}
section.help div.elp div.wel button {
  background-color: rgb(11, 41, 97) !important;
}
section.help div.elp div.wel button:hover {
  background-color: rgb(0, 25, 72) !important;
}
section.help div.elp div.wel h5 {
  font-weight: 600;
}
section.help div.fre {
  background-color: white;
  padding: 1rem;
}
section.help div.fre div.topp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
section.help div.fre div.topp div.detail {
  background-color: rgba(3, 29, 77, 0.066);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: rgb(11, 41, 97) !important;
  padding: 1rem;
}
section.help div.fre div.topp div.detail p {
  color: rgb(11, 41, 97) !important;
}
section.help div.fre div.topp div.detail a {
  color: rgb(11, 41, 97) !important;
}
section.help div.fre div.topp div.detail .collapse {
  min-width: 100% !important;
}
section.help div.fre div.topp .card-body {
  max-width: 100% !important;
}
section.help div.fre div.topp a.active {
  text-decoration: none;
  font-size: 20px;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1rem;
}

div.term {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
div.term a {
  text-decoration: none;
}
div.term div.conc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 3rem;
}