@mixin navi {
  background-color: rgb(249, 249, 249);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  position: sticky;
  top: 0;
  width: 100%;
  // height: 50vh;
  z-index: 9999;
  // overflow: hidden;
  margin-left: 0.05rem;
  // font-family: "Montserrat", sans-serif;
  font-family: "poppins", sans-serif;
  font-weight: 600;

  .container-fluid {
    padding-left: 3rem;
    padding-right: 3rem;

    button.navbar-toggler {
      background-color: whitesmoke !important;
    }
    button {
      background-color: $main !important;
    }
    // .navbar-toggler-icon {
    //   background-color: white !important;
    // }

    @include mediaQuery(767px) {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    @include mediaQuery(1024px, 768px) {
      padding-left: 2rem;
      padding-right: 2rem;
      // font-size: 35px;
    }
  }
  .navbar-brand {
    // @include mediaQuery(767px) {
    //   display: block;
    // }
    height: 50px;
    width: 130px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-left: 5rem;
    padding-top: 0.7rem;
    // color: whitesmoke;
    // background-color: white;

    a {
      position: relative;
      text-align: center;

      //   bottom: 0;
      //   padding-bottom: 4rem;
      margin-top: -1rem;
      //   background-color: aqua !important;
    }

    img {
      // height: 30px;
      // width: 30px;
      // display: flex;
      // flex-direction: row;
      // align-items: center;
      // justify-content: center;
      margin-left: -4rem;
      position: absolute;
      height: 80%;
      width: 30%;
      margin-top: -0.5rem;
    }
  }

  .space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // background-color: whitesmoke;
    @include mediaQuery(767px) {
      flex-direction: column;
      align-items: flex-start;
      z-index: 999;
    }
    @include mediaQuery(1024px, 768px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .links {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      // background-color: aqua;
      width: 120vh;
      padding-left: 5rem;

      @include mediaQuery(767px) {
        padding-left: 0;
        flex-direction: column;
        align-items: flex-start;
        z-index: 999;
        gap: 0.5rem;
      }
      @include mediaQuery(1024px, 768px) {
        padding-left: 0;
        flex-direction: column;
        align-items: flex-start;
        z-index: 999;
        gap: 0.5rem;
      }
    }
    .signs {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 0.3rem;
      button {
        background-color: $main !important;
        &:hover {
          background-color: rgb(0, 25, 72) !important;
        }
      }
      div.supp {
        // background-color: aquamarine;

        a {
          text-decoration: none;

          i {
            font-size: 30px;
            color: $main;
            transition: 0.03ms;
          }
        }
      }
      @include mediaQuery(767px) {
        flex-direction: column;
        align-items: flex-start;
        z-index: 999;
        gap: 0;
      }
      @include mediaQuery(1024px, 768px) {
        flex-direction: column;
        align-items: flex-start;
        z-index: 999;
        gap: 0;
      }
    }

    a:hover {
      color: $main;
    }
  }
  div.links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    a {
      color: black;
      // color: whitesmoke;
    }
  }
  div.dropdown {
    // i.quest {
    //       font-size: 30px;
    // background-color: blue;
    //     }
    display: flex;
    a {
      color: black;
      &:hover {
        transform: scale(1.05);
      }
    }
    .b {
      &:hover {
        transform: scale(1.05);
      }
    }
    .a {
      &:hover {
        transform: scale(1.05);
      }
    }
    .modal-body {
      width: 100% !important;
      background-color: whitesmoke;
      .cash {
        display: flex;
        flex-direction: row;
        gap: 3rem;
      }
      .allcur {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      p.hov:hover {
        color: $main;
      }
    }

    .abut {
      //   background-color: firebrick;
      width: 30px !important;
    }

    .dropdown-menu {
      min-width: 100% !important;
      //   background-color: aqua;
      //   .drpdown-item {
      //     width: 100% !important;
      //   }
      position: absolute;
      z-index: 999;
      li {
        a {
          color: #000;
          &:hover {
            background-color: $main;
            color: white;
          }
        }
      }
    }
  }
  div.dropdown a {
    text-decoration: none;
    color: black;

    img {
      width: 30px;
      height: 30px;
    }
  }
}
@mixin ours {
  div .social {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    position: absolute;
    top: 40%;
    z-index: 99;
    gap: 1rem;
    @include mediaQuery(767px) {
      display: none;
    }
    @include mediaQuery(1024px, 768px) {
      display: none;
    }

    a {
      text-decoration: none;
      color: white;

      z-index: 999;
      &:hover {
        color: $main;
      }

      i {
        font-size: 20px;
        z-index: 99;
      }
    }
  }
  .carousel-inner {
    width: 100%;
    height: 70vh !important;
    @include mediaQuery(767px) {
      height: 50vh;
    }
    @include mediaQuery(1024px, 768px) {
    }
    &::before {
      content: "";
      width: 100%;
      height: 70vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0, 0, 0, 0.315);
      // background-color: rgba(15, 91, 191, 0.212);
      z-index: 1;
    }
    .carousel-caption {
      position: absolute !important;
      z-index: 10 !important;
      bottom: 6rem;
      // color: black;
      @include mediaQuery(767px) {
        bottom: 12rem;
      }
      @include mediaQuery(1024px, 768px) {
        bottom: 20rem;
      }
      h5 {
        font-size: 30px;
        font-weight: 600;
        text-shadow: 2px 2px 2px black;
        letter-spacing: 3px;
      }
    }
    img {
      height: 70vh;
      object-fit: cover;
    }
  }
  .form {
    height: 100px;
    // width: 50%;
    border-radius: 15px;
    // background-color: rgba(84, 81, 81, 0.217);
    background-color: whitesmoke;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // margin-top: -5%;
    position: absolute;
    z-index: 99;
    top: 79%;
    left: 15%;
    right: 15%;
    gap: 2rem;

    @include mediaQuery(767px) {
      width: 90%;
      padding-left: 1rem;
      padding-right: 1rem;
      left: 10px;
      right: 10px;
      height: 80px;
      bottom: -18%;
      // background-color: aqua;
      margin-top: -2rem;
      position: sticky !important;
    }

    @include mediaQuery(1024px, 768px) {
      width: 90%;
      padding-left: 1rem;
      padding-right: 1rem;
      left: 10px;
      right: 10px;
      height: 100px;
      bottom: -7%;
      // gap: 1rem;
      margin-top: -5rem;
      position: sticky !important;
    }
    button {
      background-color: $main !important;
      &:hover {
        background-color: rgb(0, 25, 72) !important;
      }
    }
    .place {
      width: 33%;
      height: 12vh;
      // background-color: rgb(10, 62, 107);
      display: flex;
      flex-direction: column;
      justify-content: center;

      padding-left: 40px; /* Add space for the icon */
      background-image: url("/img/hotel-bed-fill.png");
      background-repeat: no-repeat;
      background-position: left center;
      margin-left: 0;
      // padding-right: 50px;
      label {
        font-weight: 600;

        font-size: 15px;
        @include mediaQuery(767px) {
          font-size: 12px;
        }
      }
    }
    .check {
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 33%;
      height: 12vh;
      // background-color: rgb(8, 183, 151);
      label {
        font-weight: 600;
        font-size: 15px;
        @include mediaQuery(767px) {
          font-size: 12px;
        }
      }
    }
    .button {
      width: 33%;
      padding-top: 0.7rem;
      // background-color: rgb(183, 8, 84);
      height: 12vh;
      justify-content: flex-end;
      align-items: flex-end;

      @include mediaQuery(1024px, 768px) {
        padding-top: 2.5rem;
      }

      .btn {
        height: 9vh;
        width: 100%;
        @include mediaQuery(767px) {
          padding: 0px;
          font-size: 12px;
          height: 7vh;
          margin-top: 0rem;
        }
        @include mediaQuery(1024px, 768px) {
          // padding: 0px;
          height: 50px;
        }
      }
    }

    input {
      background-color: transparent;
      border: none;
    }
  }
}
@mixin dest {
  padding-top: 5rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
  overflow-x: hidden;
  h5 {
    padding-bottom: 1rem;
    font-weight: 900;
    font-size: 25px;
  }

  div.nexttt {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    button {
      background-color: $main !important;
      &:hover {
        background-color: rgb(0, 25, 72) !important;
      }
    }
  }

  div.row {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between !important;

    // padding: 0;

    .cards {
      padding-bottom: 2rem;
      .card {
        height: 300px;
        position: relative;
        transition: 0.3ms;
        &:hover {
          transform: scale(1.05);
        }
        img {
          height: 500px;
          transition: 3s ease-in;
          &:hover {
            transform: scale(1.1);
            background-color: firebrick;
          }
        }
        // &::before {
        //   content: "";
        //   width: 100%;
        //   height: 300px;
        //   position: absolute;
        //   top: 0;
        //   left: 0;
        //   background-color: rgba(13, 13, 13, 0.39);
        //   z-index: 1;
        // }

        @include mediaQuery(767px) {
          width: 100% !important;
        }
        @include mediaQuery(1024px, 768px) {
          width: 100% !important;
        }

        .card-body {
          width: 100%;
          text-align: center;
          position: absolute;
          z-index: 999;
          bottom: 0;
          color: white;
          background-color: rgba(0, 0, 0, 0.566);

          a {
            text-decoration: none;
            color: whitesmoke;
          }
          h5,
          p {
            z-index: 999;
          }
        }
      }
    }
  }
  div.cover {
    h5 {
      font-weight: 900;
    }
    width: 100%;
    height: 25vh;
    border-top: 0.5px solid $main;
    border-bottom: 0.5px solid $main;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    @include mediaQuery(767px) {
      flex-direction: column;
      height: auto;
    }
    @include mediaQuery(1024px, 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-content: flex-start;
    }
    i {
      color: $main;
      font-size: 30px;
    }
    a {
      text-decoration: none;
      color: black;

      &:hover {
        background-color: rgb(220, 220, 220);
        border-radius: 18px;
      }
    }
    div.fast {
      width: 40vh;
      height: 13vh;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      padding-top: 1rem;
      gap: 1rem;
      @include mediaQuery(1024px, 768px) {
        justify-content: flex-start;
        width: 30vh;
      }
    }
  }
  h5.gg {
    padding-top: 1rem;
  }
  div.stay {
    padding-top: 1rem;
    width: 100%;
    // padding-bottom: 1rem;
    div.card {
      transition: 0.3ms;
      height: 300px !important;
      position: relative;
      &:hover {
        transform: scale(1.05);
      }
      img {
        height: 600px !important;
      }

      .card-body {
        height: 22vh;
        background-color: #000000;
        position: absolute;
        padding: 0 !important;
        gap: 0 !important;
        @include mediaQuery(767px) {
          height: 15vh;
        }
        @include mediaQuery(1024px, 768px) {
          height: 11.3vh;
        }
        a.btn {
          background-color: $main;
          margin-top: -0.5rem;
        }
        h5.card-title {
          font-size: 20px !important;
          font-weight: 900 !important;

          // background-color: aqua;
        }
        p.card-text {
          font-size: 15px !important;
          // background-color: burlywood;
          margin-top: -1.5rem;
        }

        .good {
          display: flex;
          flex-direction: row;
          gap: 0.5rem;
          padding-left: 3rem;
          // background-color: chartreuse;
          margin-top: -1rem;
          @include mediaQuery(767px) {
            padding-left: 4rem;
          }
          @include mediaQuery(1024px, 768px) {
            padding-left: 6rem;
          }
          p {
            font-size: 13px;
          }
          p.rat {
            background-color: $main;
            padding: 0.1rem;
            color: white;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

@mixin nomad {
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  width: 100%;
  height: auto;
  // background-color: black;
  background-color: rgb(11, 41, 97);
  position: sticky;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  @include mediaQuery(767px) {
    flex-direction: column;
  }
  input {
    @include mediaQuery(1024px, 768px) {
      width: 13vh;
    }
  }
  a {
    text-decoration: none;
    font-size: 14px;
    color: white;
  }
  h3 {
    font-weight: 500;
    @include mediaQuery(1024px, 768px) {
      font-size: 17px;
      font-weight: 600;
    }
  }
  div.nomad {
    gap: 1rem;
    h5 {
      padding-bottom: 1rem;
      font-size: 14px;
    }
  }
  div.email {
    i {
      font-size: 25px;
      color: white;
      border: 0.1px solid white;
      padding: 0.1rem;
      @include mediaQuery(1024px, 768px) {
        font-size: 20px;
      }
      @include mediaQuery(767px) {
        font-size: 20px;
      }
    }
  }
}
@mixin mediaQuery($arg...) {
  @if length($arg) ==1 {
    // Mobile Phone
    @media screen and (max-width: nth($arg, 1)) {
      @content;
    }
  }

  @if length($arg) ==2 {
    // Mobile Phone
    @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2)) {
      @content;
    }
  }
}
