@mixin sectionOne {
  overflow-x: hidden;
  // background-color: darkblue;
  .container-fluid {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .space {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  div.dropdown a {
    text-decoration: none;
    img {
      width: 30px;
      height: 30px;
    }
  }
  .save img {
    height: 500px;
  }
  div.row .social {
    display: flex;
    flex-direction: column;
    padding-left: 5rem;
    position: absolute;
    top: 40%;
    z-index: 99;
    gap: 1rem;

    a {
      text-decoration: none;
      color: white;
      z-index: 99;

      i {
        font-size: 20px;
        z-index: 99;
      }
    }
  }
  .carousel-inner::before {
    content: "";
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(20, 21, 21, 0.194);
    z-index: 1;
  }

  .carousel-caption {
    position: absolute !important;
    z-index: 10 !important;
    bottom: 10rem;
  }
  .save {
    position: relative;
  }
  .form {
    height: 100px;
    border-radius: 15px;
    // background-color: rgba(84, 81, 81, 0.217);
    background-color: whitesmoke;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    // margin-top: -5%;
    position: absolute;
    z-index: 99;
    bottom: 65px;
    left: 15%;
    right: 15%;

    // @include mediaQuery(1024px, 768px) {
    // }
    // @media screen and (min-width: 320px) and (max-width: 767px) {
    //   left: -10%;
    //   right: -10%;
    //   padding-left: 1rem;
    //   background-color: violet;
    // }
    @include mediaQuery(1024px, 768px) {
      width: 80%;
      left: 0%;
      right: 10%;
      padding-left: 1rem;
      bottom: 35px;
      //   position: fixed;
    }
    .place {
      display: flex;
      flex-direction: column;
    }
    .check {
      display: flex;
      flex-direction: column;
    }
    input {
      background-color: transparent;
      border: none;
    }
  }
}
@mixin sectionService {
  padding-left: 5rem;
  padding-bottom: 5rem;

  h2 {
    padding-top: 8rem;
    text-align: center;
  }
  h5 {
    text-align: center;
  }
  .cards {
    gap: 0.5rem;

    .card {
      height: 400px;
      padding: 0;

      .card-body {
        text-align: center;
      }
      img {
        height: 500px;
      }
    }
  }
}

@mixin sectionAbout {
  padding-left: 5rem;
  padding-right: 5rem;
  height: 100vh;
  width: 100%;

  overflow-y: hidden;

  h3,
  h5 {
    text-align: center;
  }
  h5 {
    letter-spacing: 5px;
    color: $color1;
    padding-bottom: 2rem;
  }
  div.phil {
    display: $flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
    div.left {
      width: 50%;
      height: 70vh;
      position: relative;

      img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 15px;
      }
    }
    div.right {
      width: 50%;
      height: 70vh;
    }
  }
}
@mixin textRight {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  h3 {
    text-align: left;
  }
  div.text {
    color: $color1;
  }
}
@mixin sectionTop {
  width: 100%;
  height: 80vh;
  background-color: green;
  background-image: url(/img/map3.jpg);
  background-size: cover;
  padding-left: 5rem;
  padding-right: 5rem;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(253, 255, 255, 0.769);
    z-index: 1;
  }
  div.toptext {
    width: 100%;
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  div.dest {
    position: relative;
    z-index: 99;
    top: 20%;
    gap: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    div.card img {
      height: 200px;
    }

    div.card-body {
      display: flex;
      padding-left: 0;
      p.card-text i {
        color: $color2;
      }
    }
  }
  .button {
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 15%;
    right: 15%;
  }
}
@mixin sectionweekend {
  width: 100%;
  height: 100vh;
  padding-left: 5rem;
  padding-right: 5rem;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  gap: 3rem;
  main {
    width: 50%;
    height: 85vh;
    padding-top: 2rem;

    h3 {
      width: 20%;
      height: 10vh;
      text-align: center;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      background-color: whitesmoke;
      position: absolute;
      top: 0;
      left: 35%;
      border-radius: 35px;
      box-shadow: 2px 2px solid gray;

      i {
        color: red;
      }
    }
    h5.blue {
      color: blue;
      padding-bottom: 2rem;
      padding-top: 5rem;
    }
    div.num {
      display: flex;
      flex-direction: row;
      padding-top: 3rem;
      gap: 3rem;
      h1 {
        color: blue;
      }
    }
  }
  aside {
    // width: 50%;

    div.kayak {
      width: 85vh;
      height: 85vh;
      position: relative;
      object-fit: cover;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        right: 0;
      }
    }
  }
}

@mixin sectionpartners {
  padding-left: 5rem;
  padding-right: 5rem;
  height: 50vh;
  h3 {
    text-align: center;
  }
  h5 {
    color: blue;
    text-align: center;
    letter-spacing: 1.5rem;
  }
  div.partlogo {
    width: 100%;
    height: 30vh;
    // background-color: violet;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    div {
      width: 30%;
      height: 100%;
      display: flex;
      flex-direction: column;
      // background-color: aqua;
      position: relative;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}
@mixin sectionexplore {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 5rem;
  height: 120vh;

  // overflow-y: hidden;
  // position: relative;
  div.explore {
    width: 100%;
    height: 50%;
    // background-color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h5 {
      color: $color1;
    }
    h2 {
      font-weight: 700;
      padding-bottom: 1rem;
    }
    h6 {
      font-size: 14px;
      padding-bottom: 1rem;
    }
  }
  div.review {
    display: flex;
    flex-direction: row;
    position: relative;
    gap: 2rem;
    div.say {
      width: 100%;
      height: 50%;
      // background-color: crimson;

      h3 {
        color: blue;
        i {
          font-size: 40px;
        }
      }
      div.plus {
        // background-color: blanchedalmond;
        width: 100%;
        height: 10%;
        // display: flex;
        // justify-content: space-between;
        gap: 2rem;
        position: relative;

        div.jane {
          width: 30%;
          height: 20%;
          // background-color: gold;
          border-radius: 50%;
          // position: relative;
          z-index: 99;
          img {
            // position: absolute;
            width: 100%;
            height: 80%;
            z-index: 99;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
@mixin nomad {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 100%;
  height: 70vh;
  background-color: rgb(0, 0, 212);
  color: whitesmoke;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    font-size: 15px;
    color: whitesmoke;
  }
  div.nomad {
    gap: 1rem;
    h5 {
      padding-bottom: 1rem;
      font-size: 15px;
    }
  }
  div.email {
    i {
      font-size: 20px;
      color: blue;
      background-color: whitesmoke;
    }
  }
}

@mixin mobile {
  padding-left: 5rem;
  padding-right: 5rem;
  width: 100%;
  height: 85vh;
  display: flex;
  flex-direction: row;
  // gap: 3rem;
  main {
    width: 50%;
    height: 80vh;
    div.phone {
      width: 70%;
      height: 100%;
      // padding: 2rem;
      position: relative;
      background-color: white;
      img {
        position: absolute;
        width: 100%;
        height: 100%;
        // box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
      }
    }
  }
  aside {
    width: 50%;
    height: 80vh;
    position: relative;
    div.quick {
      width: 100%;
      height: 80%;
      background-color: white;
      padding-right: 3rem;
      padding-top: 5rem;

      h3 {
        // word-spacing: 10px;
        padding-top: 0.5rem;
        text-align: justify;
      }
      h5 {
        text-align: justify;
      }
      div.app {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        padding-top: 3rem;

        div.apple {
          width: 45%;
          height: 10vh;
          background-color: rgb(16, 83, 219);
          color: whitesmoke;
          display: flex;
          flex-direction: row;
          gap: 1rem;
          padding-left: 10px;
          border-radius: 12px;

          // justify-content: center;
          // align-items: center;

          i {
            font-size: 35px;
          }
          div.appstore span {
            font-weight: 600;
          }
        }
        div.android {
          width: 45%;
          height: 10vh;
          background-color: rgb(0, 0, 0);
          color: whitesmoke;
          display: flex;
          flex-direction: row;
          // gap: 1rem;
          padding-left: 10px;
          border-radius: 12px;
          div.playstore {
            width: 20%;
            height: 100%;
            position: relative;
            img {
              position: absolute;
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
// @mixin grid($cols, $mgn) {
//   float: left;
//   margin-right: $mgn;
//   margin-bottom: $mgn;
//   height: 200px;
//   width: ((100% - (($cols - 1) * $mgn)) / $cols); // bodmas

//   &:nth-child(#{$cols}n) {
//     margin-right: 0;
//   }
// }
// media Query
@mixin mediaQuery($arg...) {
  @if length($arg) ==1 {
    // Mobile Phone
    @media screen and (max-width: nth($arg, 1)) {
      @content;
    }
  }

  @if length($arg) ==2 {
    // Mobile Phone
    @media screen and (max-width: nth($arg, 1)) and (min-width: nth($arg, 2)) {
      @content;
    }
  }
}
