@import "_tourmix";
@import "_nomadvar";
// @import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Cormorant:wght@300&family=Dosis:wght@200&family=Instrument+Serif&family=Italianno&family=Noto+Sans+Zanabazar+Square&family=Seaweed+Script&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Cormorant:wght@300&family=Dosis:wght@200&family=Instrument+Serif&family=Italianno&family=Noto+Sans+Zanabazar+Square&family=Poppins:wght@200&family=Seaweed+Script&family=Space+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amita:wght@700&family=Cormorant:wght@300&family=Dosis:wght@200&family=Instrument+Serif&family=Italianno&family=Montserrat:wght@200&family=Noto+Sans+Zanabazar+Square&family=Poppins:wght@200&family=Seaweed+Script&family=Space+Mono:wght@400;700&display=swap");
body {
  font-family: "poppins", serif;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: $box;
}
section.one {
  @include navi;
}
section.two {
  @include carousel;
  @include nav;
}
div.rowz form {
  @include search;
}
div.rowz {
  @include rowz;
}
section.topdest {
  @include dest;
}
section.more {
  @include dest;
  h4 {
    font-weight: 900 !important;
    font-size: 30px;
    @include mediaQuery(767px) {
      font-size: 20px;
    }
  }
}
div.cityz {
  @include cityz;
}
section.mobile {
  @include mobile;
}
section.foot {
  @include nomad;
}
